// Declarations in style.scss
@use '../../../shared' as *; 

.header {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: $btn-height;
    z-index: 1000;
    // background-color: red; 
    display: flex; 
    flex-direction: row;
    align-items: left;
    justify-content:flex-start; 
    padding: 0 clamp(15px, 5vw, 50px); 
}

.home-link {
    @extend %btn-base;
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.1);
    width: clamp(70px, 4vw, 100px); 
    aspect-ratio: 1; 
    cursor: pointer;
    
    i {
        transition: all 0.2s ease; 
    }
    i:hover {
        color: $btn-txt-hover !important;      
    }
}

nav {
    @extend %btn-base;
    gap: 50px;
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.1);
    
    margin-left: 25px;
    width: auto;
    max-width: 100%;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
    
a {
    @extend %btn-text;
} 
a:hover {
    color: $btn-txt-hover;  
}