.header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;  
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content:space-around;  
    
    width: 35%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.618);
    border-radius: 150px; 
}
    
a {
    color: rgb(244, 244, 244);  
    list-style-type: none;
    text-decoration: none;
    margin-left: 50px; 
    margin-right: 50px;
    transition: 0.2s;
} 
a:hover{
    scale:130%;
    transition: 0.2s;
}