.project-wrapper{
    padding-top: 130px;
    margin-left: 3vw; 
    margin-right: 3vw;
}

.project-container{
    img {
        width: 1000px;
        
    }
}

.not-found{
    font-size: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}