@use '../../../shared' as *; 

*  {
    color: $text-color-global;  
    // background-color: $background-glo    bal;
}

.title-text {
    margin: clamp(20px, 2vh, 40px);
    font-weight: 200;
    font-size: 60px;
    display: inline-block;
    position: relative; 
}

.title-text:after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: 0; 
    transition: width 0.8s ease;
}

.title-text:hover:after {
    width: 100%;
}

.projects-wrapper{
    padding-top: 130px;
        margin-left: 3vw; 
    margin-right: 3vw;
}

::ng-deep .project-grid {
    grid-template-columns: repeat(2, 1fr) !important;
}

::ng-deep  .projects-wrapper .project-grid .project-card:nth-child(1),
::ng-deep  .projects-wrapper .project-grid .project-card:nth-child(2),
::ng-deep  .projects-wrapper .project-grid .project-card:nth-child(3),
::ng-deep  .projects-wrapper .project-grid .project-card:nth-child(4) {
    grid-column: auto !important;
    grid-row: auto !important;
    grid-row-start: auto !important;
    grid-column-start: auto !important;
}