@use '../../../shared' as *; 

.project-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card{
    @extend %glass-template;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: clamp(150px, 20vw, 300px);
    height: clamp(200px, 40vh, 400px);
    padding: 50px;
    margin: 50px;
    
    // background-color: rgb(100, 190, 255);
    border-radius: 20px;
}
h3 {
    margin-bottom: 7%;
}