
// base button placeholder; extend in component styles instead of
// using a generic utility class that leaks globally
// Global declarations
$background-global: #003683;
$text-color-global: rgb(244, 244, 244);  

$btn-color: rgba(255, 255, 255, 0.402);
$btn-height: 60px;
$btn-radius:50px;

// Text
$btn-txt-color: rgb(244, 244, 244);
$btn-txt-hover: rgb(29, 68, 128);   

%glass-template {
    // // background: rgba(255, 255, 255, 0.15);
    // // backdrop-filter: blur(5.6px);
    // // -webkit-backdrop-filter: blur(5.6px); 
    background: rgba(45, 45, 45, 0.398);
    border-radius: 16px; 
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

%btn-base {
    @extend %glass-template; 
    height: $btn-height;
    border-radius: $btn-radius;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

%btn-text{
    color: $btn-txt-color;  
    font-size: 20px; 
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.2s ease;
} 